#pragma once

// WiFi Configuration
#define WIFI_SSID       "YOUR_WIFI_SSID"
#define WIFI_PASS    "YOUR_WIFI_PASSWORD"

// MQTT
#define MQTT_HOST     "192.168.1.10"
#define MQTT_PORT     1883
#define MQTT_USER     "mqtt_user"
#define MQTT_PASSWORD "mqtt_password"
#define MQTT_CLIENT_ID "heltec-v2-itron-ert"
#define MQTT_TOPIC_METERS  "meters/scm"
#define MQTT_TOPIC_RAW     "meters/raw"
